%header.all-header
  .all-header__inner
    .all-header__inner__main
      %h1.header-logo
        =link_to image_tag("logo/logo.png",class: "header-logo__icon"), root_path, class: "header-logo__link" 
      .header-search
        %form.header-search__form
          %input{type:"serach",placeholder:"キーワードから探す",class:"header-search__form__input"}
          %button{type:"submit",class:"header-search__form__submit"}
            =image_tag("icon/icon-search 1.png",class: "header-search__form__submit__icon") 

    .all-header__inner__nav
      %ul.list-left
        %li.list-left__choice
          カテゴリー
          .list-left__choice__list
            %ul.list-left__choice__list--left
              %li.category-list
                =link_to "すべて","#",class: "category-list__link"  # カテコりー関係なくすべての商品を呼び出す
            %ul.list-left__choice__list--left
              %li.category-list
                - @parents.each do |parent|     # 親の表示
                  =link_to "#{parent.name}","#",class: "parent_category", id: "#{parent.id}"
                  -# 子、孫の追加はJSにて実装
                  %ul.list-left__choice__list--middle
                    %li.children-list     
                      %ul.list-left__choice__list--right
                        %li.grand_children-list
                           
        %li.list-left__choice--brand
          ブランド
          .list-left__choice__list
            %ul.list-left__choice__list--left
              %li.category-list
                =link_to "シャネル","#",class: "category-list__link"
              %li.category-list
                =link_to "グッチ","#",class: "category-list__link"
                
      - if user_signed_in?
        %ul.list-right
          %li.list-right__li
            = link_to "マイページ", mypage_path(current_user.id), class: "list-right__li__link"
          %li.list-right__li
            = link_to "ログアウト", destroy_user_session_path, method: :delete,class: "list-right__li__link"
      - else
        %ul.list-right
          %li.list-right__li
            = link_to "ログイン", new_user_session_path, class: "list-right__li__link"
          %li.list-right__li
            = link_to "新規会員登録", new_user_registration_path, class: "list-right__li__link"
