%ul.product__lists
  - products.each do |product|
    %li.product__lists__list
      = link_to product_path(product), class: "list-link" do
        - product.pictures.each_with_index do |picture, index|
          - if index == 0
            = image_tag(picture.image.url, class: "list-image")
        .list-details
          %h3.list-details__name
            = product.name
          .list-details__body
            %ul
              %li
                = product.price
                円
              %li.list-details__body__icon
                = icon("fa","star")
                0
            %p
              （税込）