.main_new_card
  .new_card__registration
    .flash_message_creditcard
      = flash[:add_creditcard]
    %h2.registration__header
      クレジットカード情報入力
    = form_with model: @creditcard, id: "card_form", class: "registration-form" do |f|
      .form_contents
        .form_contents__card_number
          %label.card_no
            カード番号
          %span.form_require
            必須
          = f.text_field :number, class: "form_contents__card_number__input", placeholder: "半角数字のみ", maxlength: "16"

        .form_contents__card_expiration_date
          %label.expiration_date
            有効期限
          %span.form_require
            必須
          %br
          .select_display_month
            = f.select :exp_month,  [["1月", 1], ["2月", 2], ["3月", 3], ["4月", 4], ["5月", 5], ["6月", 6], ["7月", 7], ["8月", 8], ["9月", 9], ["10月", 10], ["11月", 11], ["12月", 12]], {}, {class: "select_month"}
            %span.text-month
              月
          .select_display_year
            = f.select :exp_year,  [["20年", 2020], ["21年", 2021], ["22年", 2022], ["23年", 2023], ["24年", 2024], ["25年", 2025], ["26年", 2026], ["27年", 2027], ["28年", 2028], ["29年", 2029], ["30年", 2030], ["31年", 2031]], {}, {class: "select_year"}
            %span.text-year
              年
        .form_contents__card_security_code
          %label.security_code
            セキュリティーコード
          %span.form_require
            必須
          = f.text_field :cvc, class: "form_contents__security_code__input", maxlength: "4", placeholder: "カード背面４桁もしくは３桁の番号"

        = f.submit "追加する", id: "regist_card", class: "form_contents__submit"
        #card_token
