.input-top
  = render partial: '/template/input-top'

  .products-buy_contents
    .products-buy_content
      .products-buy_content__title
        購入内容の確認
      .products-buy_content__image
        .products-buy_boxs
          .products-buy_boxs__item
            .buy-image
              = image_tag @image.image.to_s
            .buy-image_info
              %p.buy-title
                = @product.name
              %span.buy-price
                = "¥ #{@product.price}"
              %span.buy-price-info（税込）送料込み
              
      .products-buy_item
        .products-buy_item__form
          .buy-item
            %ul.buy-price
              %li.buy-price__title 支払い金額
              %li.buy-price__pay
                = "¥ #{@product.price}"

          .buy-user__info
            %p.buy-nav 支払い方法
            - if @creditcard.present?
              .number
                = "**** **** **** " + @card.last4
              .expiration_date
                .expiration_date__title
                  有効期限
                .expiration_date__info
                  = @exp_month + " / " + @exp_year
            - else
              =link_to new_creditcard_path, class: "buy-info" do
                クレジットカード登録をお願いします

          .buy-user__info
            %p.buy-nav 配送先
            = "お届け先氏名：#{@user.deliveryaddress.family_name} #{@user.deliveryaddress.given_name}"
            %br
            = "お届け先住所：#{@user.deliveryaddress.prefectures} #{@user.deliveryaddress.city}"
            
          .buy-submit
            %p
              郵便局/コンビニ受取をご希望の方は、購入後に取引画面
              から受取場所を変更をすることが可能です。出品者が発送作業を
              開始した後は受取場所の変更ができませんので、早めに変更を行ってください。

            =link_to buy_product_path, class:"item-buy-btn" do
              購入する

  .products-bottom
    = render partial: '/template/input-bottom'