!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %title FreemarketSample70d
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body
    %script{src: "https://js.pay.jp/", type: "text/javascript"}
    :javascript
      Payjp.setPublicKey("pk_test_ed85db4a59c212d8d18a47e6"); 
    = yield
    
