.input-top
  = render partial: '/template/input-top'
  
  .login-main
    .login-main__title
      お届け先住所入力
    .login-main__content
      .login-main__content__form
        = form_with(model: @deliveryaddress,url: user_registration_path,local: true) do |f|
          -# = render "devise/shared/error_messages", resource: resource

          .form-group
            お名前(全角)
            %span.required
              必須
            %br
            .field
              = f.text_field :family_name, autofocus: true, autocomplete: "family_name",placeholder: "例）山田",class: "default half"           
              = f.text_field :given_name, autofocus: true, autocomplete: "given_name",placeholder: "例）太郎",class: "default half__right"       
              -if @deliveryaddress.errors.any?
                .alert.alert-warning
                  %ul
                    - @deliveryaddress.errors.full_messages.each do |message|
                      %li{style: "color:red"} 
                        - if message.include?("名字は")
                          = message.delete!("Translation missing: ja")
              -if @deliveryaddress.errors.any?
                .alert.alert-warning
                  %ul
                    - @deliveryaddress.errors.full_messages.each do |message|
                      %li{style: "color:red"} 
                        - if message.include?("名前は")
                          = message.delete!("Translation missing: ja")
          .form-group
            お名前カナ(全角)
            %span.required
              必須
            %br
            .field
              = f.text_field :family_name_kana, autofocus: true, autocomplete: "family_name_kana",placeholder: "例）ヤマダ",class: "default half"           
              = f.text_field :given_name_kana, autofocus: true, autocomplete: "given_name_kana",placeholder: "例）タロウ",class: "default half__right"
              -if @deliveryaddress.errors.any?
                .alert.alert-warning
                  %ul
                    - @deliveryaddress.errors.full_messages.each do |message|
                      %li{style: "color:red"} 
                        - if message.include?("名字（カナ）は")
                          = message.delete!("Translation missing: ja")
              -if @deliveryaddress.errors.any?
                .alert.alert-warning
                  %ul
                    - @deliveryaddress.errors.full_messages.each do |message|
                      %li{style: "color:red"} 
                        - if message.include?("名前（カナ）は")
                          = message.delete!("Translation missing: ja")
          .form-group
            郵便番号 
            %span.required
              必須
            %br 
            .field
              = f.text_field :postal_code, autofocus: true, autocomplete: "postal_code",placeholder: "ーーー",class: "default"
              -if @deliveryaddress.errors.any?
                .alert.alert-warning
                  %ul
                    - @deliveryaddress.errors.full_messages.each do |message|
                      %li{style: "color:red"} 
                        - if message.include?("郵便番号")
                          = message.delete!("Translation missing: ja")
            .form-group
              -#  後に、都道府県を選べるようコードを書き換えてください
              都道府県 
              %span.required
                必須
              %br         
              .field 
                -# = f.text_field :prefectures, autofocus: true, autocomplete: "prefectures",placeholder: "選択してください",class: "default" 
                -# 別モデルを作成しなくてはいけないので相談後
                = f.select :prefectures, Deliveryaddress.prefectures.keys, {},placeholder: "選択してください",class: "default"
            .form-group
              市区町村 
              %span.required
                必須
              %br            
              .field
                = f.text_field :city, autofocus: true, autocomplete: "city",placeholder: "ーーー",class: "default" 
                -if @deliveryaddress.errors.any?
                  .alert.alert-warning
                    %ul
                      - @deliveryaddress.errors.full_messages.each do |message|
                        %li{style: "color:red"} 
                          - if message.include?("市区町村")
                            = message.delete!("Translation missing: ja")
            .form-group
              番地
              %span.required
                必須
              %br             
              .field
                = f.text_field :address, autofocus: true, autocomplete: "address",placeholder: "ーーー",class: "default" 
                -if @deliveryaddress.errors.any?
                  .alert.alert-warning
                    %ul
                      - @deliveryaddress.errors.full_messages.each do |message|
                        %li{style: "color:red"} 
                          - if message.include?("番地")
                            = message.delete!("Translation missing: ja")
            .form-group
              マンション名など部屋号室
              %span.any
                任意
              %br
              .field 
                = f.text_field :building, autofocus: true, autocomplete: "building",placeholder: "ーーー",class: "default"  
                -if @deliveryaddress.errors.any?
                  .alert.alert-warning
                    %ul
                      - @deliveryaddress.errors.full_messages.each do |message|
                        %li{style: "color:red"} 
                          - if message.include?("マンション")
                            = message.delete!("Translation missing: ja")
            .form-group
              電話番号
              %span.any
                任意
              %br
              .field 
                = f.text_field :phone_number, autofocus: true, autocomplete: "phone_number",placeholder: "ーーー",class: "default" 
                -if @deliveryaddress.errors.any?
                  .alert.alert-warning
                    %ul
                      - @deliveryaddress.errors.full_messages.each do |message|
                        %li{style: "color:red"} 
                          - if message.include?("電話番号")
                            = message.delete!("Translation missing: ja")
          .form-group
            %p.info-text__end 「登録する」のボタンを押すことにより、利用規約に同意したものとみなします
            .action
              = f.submit "登録する",class: "submit" 

  .login-footer
    = render partial: '/template/input-bottom'